html {
    font-size: 62.5%;
    background-color: burlywood;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    min-height: 5vh;
    justify-content: center;
    align-items: baseline;
    font-size: 1.5rem;
    list-style: none;
}

.header li {
    padding: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-size: cover;
    background: url("pexels-christina-morillo-1181275.jpg") center;
    color: white;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.hero button {
    padding: 1rem;
    border: none;
    background: rgba(114,145,63,0.5);
}

.intro {
    display: flex;
    flex-wrap: wrap;
}

.intro-pic {
    flex: 1 0 30rem;
}

.intro-pic img {
    width: 100%;
}

.intro-text {
    flex: 1 0 30rem;
}





