.main-header {
  width: 95%;
  margin: 0 0 0 5%;
}

nav {
  @include flex(space-between, center, row);
  width: 60%;
  min-height: 10vh;
  flex-wrap: wrap;

  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 20rem;
    h1 {
      margin: 2rem;
    }
  }

  ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
  }
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  @include flex(space-between, center, row);
  flex-wrap: wrap;

  .intro-text {
    flex: 1 1 40rem;
  }

  .intro-images {
    flex: 1 1 40rem;
  }

  h2 {
    font-size: 8rem;
    padding-top: 2rem;
    color: #38d39f;
  }

  h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
  }

  p {
    padding-top: 2rem;
    color: $gray-text;
  }

  .intro-social {
    margin-top: 4rem;
  }

  .splash {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: -1;
  }
}

.active {
  background: $gray-text;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}
